---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    df2 = pd.read_fwf('university_towns.txt', header = None)
    
    import re 

    state = ''
    location = ''
    StLo = []

    for item in df2[0]:
        if len(re.split('\[ed', item)) >= 2 :
            state = re.split('\[', item)[0]
        else:
            location = re.split('\s\(', item)[0]
            StLo.append([state, location])
                
    df4 = pd.DataFrame(StLo, columns = ['State', 'RegionName'])

    return df4

get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [4]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    df3 = pd.read_excel('gdplev.xls')
    df3 = df3.drop(df3.columns[[0, 1, 2, 3, 7]], axis = 1)
    df3 = df3[df3.index > 218]
    df3.columns = ['Quater','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']
    df3 = df3.reset_index().drop('index', axis = 1)
    
    GDPlist = []
    for item in df3['GDP in billions of chained 2009 dollars']:
        GDPlist.append(item)
    for i in range(len(GDPlist)-4):
        if GDPlist[i+4] > GDPlist[i+3] > GDPlist[i+2] < GDPlist[i+1] < GDPlist[i]:
            recession_start = df3.iloc[i-1]['Quater']
    
    return recession_start

get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    df3 = pd.read_excel('gdplev.xls')
    df3 = df3.drop(df3.columns[[0, 1, 2, 3, 7]], axis = 1)
    df3 = df3[df3.index > 218]
    df3.columns = ['Quater','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']
    df3 = df3.reset_index().drop('index', axis = 1)
    
    GDPlist = []
    for item in df3['GDP in billions of chained 2009 dollars']:
        GDPlist.append(item)
    for i in range(len(GDPlist)-4):
        if GDPlist[i+4] > GDPlist[i+3] > GDPlist[i+2] < GDPlist[i+1] < GDPlist[i]:
            recession_end = df3.iloc[i+4]['Quater']
    
    return recession_end

get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    df3 = pd.read_excel('gdplev.xls')
    df3 = df3.drop(df3.columns[[0, 1, 2, 3, 7]], axis = 1)
    df3 = df3[df3.index > 218]
    df3.columns = ['Quater','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']
    df3 = df3.reset_index().drop('index', axis = 1)
    
    GDPlist = []
    for item in df3['GDP in billions of chained 2009 dollars']:
        GDPlist.append(item)
    for i in range(len(GDPlist)-4):
        if GDPlist[i+4] > GDPlist[i+3] > GDPlist[i+2] < GDPlist[i+1] < GDPlist[i]:
            recession_bottom = df3.iloc[i+2]['Quater']

    return recession_bottom

get_recession_bottom()

'2009q2'

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    df1 = pd.read_csv('City_Zhvi_AllHomes.csv')
    
    def location2(item):
        import re
        i = re.split('\s\(', item)
        return i[0]

    df1['RegionName'] = df1['RegionName'].apply(location2)
    df1.head()
    
    states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    for item in df1['State'].unique():
        df1.loc[df1['State'] == item, 'State'] = states[item]
        
    df1 = df1.set_index(['State', 'RegionName'])
    df1 = df1.drop(df1.columns[0:49], axis = 1)
    
    import numpy as np
    import re
    for j in range(0,len(df1.columns),3):
        df1[str(re.split('\-', df1.columns[j])[0])+'q'+str((int(j/3)%4)+1)] = df1[df1.columns[j:j+3]].apply(lambda i : np.mean(i), axis = 1)
    
    df1 = df1.drop(df1.columns[0:200], axis = 1)
    
    return df1

convert_housing_data_to_quarters()

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    df1 = convert_housing_data_to_quarters()
    df5 = get_list_of_university_towns()
    
    df3 = pd.read_excel('gdplev.xls')
    df3 = df3.drop(df3.columns[[0, 1, 2, 3, 7]], axis = 1)
    df3 = df3[df3.index > 218]
    df3.columns = ['Quater','GDP in billions of current dollars','GDP in billions of chained 2009 dollars']
    df3 = df3.reset_index().drop('index', axis = 1)
    
    GDPlist = []
    for item in df3['GDP in billions of chained 2009 dollars']:
        GDPlist.append(item)
    for i in range(len(GDPlist)-4):
        if GDPlist[i+4] > GDPlist[i+3] > GDPlist[i+2] < GDPlist[i+1] < GDPlist[i]:
            quarter_before_recession = df3.iloc[i-2]['Quater']
            recession_bottom = df3.iloc[i+2]['Quater']

    quarter_before_recession
    recession_bottom
    
    df1['Price ratio'] = df1[quarter_before_recession]/df1[recession_bottom]
    df1 = df1['Price ratio']
    
    list1 = []
    for i in range(len(df5)):
        list1.append(list(df5.iloc[i]))
        
    list2 = []
    list3 = []
    for item in df1.index:
        if list(item) in list1:
            list2.append(df1.loc[item])
        else:
            list3.append(df1.loc[item])
            
    df6 = pd.concat(list2)
    df7 = pd.concat(list3)
    
    i = ttest_ind(df6, df7, nan_policy = 'omit')
    
    if np.mean(df6) < np.mean(df7):
        better = 'university town'
    else:
        better = 'non-university town'
        
    if i[1] < 0.01:
        different = True
        p = i[1]
        ans = (different, p, better)

    return ans

run_ttest()